.button {
    font-family: 'graphb';
    background: #2CA0D9;
    color: white;
    padding: 0.35em 0;
    font-size: 20px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.5em;
    padding-left: 2.8em;
    padding-right: 0.92em;
    position: absolute;
    bottom: 2%;
    left: 9%;
    z-index: 999;
  }

  .button .icon {
    background: #fff;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.4em;
    transition: all 0.5s;
  }

  .icon svg {
    margin-left: 0.1em;
    transition: all 0.5s;
    color: #2CA0D9;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 18%;
  }

  .button:hover .icon svg {
    transform: rotate(360deg);
    right: 40%;
  }

  .button:hover .icon {
    width: calc(100% - 1.5rem);
    border-radius: 0.5em;
  }

  a {
    color: white;
  }