.main {
    max-width: 1500px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1% 6%;

    [data-theme="dark"] & {
        background-color: rgb(20, 18, 18);
        border: 1px solid white;
    }

    &__header {
        max-width: 200px;
        display: flex;
        gap: 10px;
        align-items: end;

        &__pic {
            max-width: 80px;
            min-height: 80px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.3s ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &.darkTheme {
                filter: invert(0.8) brightness(1.5) hue-rotate(180deg);
            }
        }

        &__title {
            font-size: 2rem;
            color: var(--text-color);
        }
    }

    &__nav {
        display: flex;

        &__perexod {
            display: flex;
            gap: 20px;
            list-style: none;
            font-size: clamp(2rem, 2vw, 3rem);
            font-family: var(--font-bold);

            &__link a {
                color: var(--text-color);
            }
        }
    }
}

.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

