.window {
    width: 1500px;
    height: 75vh;
    position: relative;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.3s, height 0.3s;  // Анимация для размера, чтобы он не изменялся

    &__message {
        position: absolute;
        left: 30%;
        top: 50%;
        font-family: 'graphb';
        text-transform: uppercase;
        font-size: 3rem;
    }

    &__panel {
        position: absolute;
        min-height: 80vh;
        max-width: 200px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 2px solid black;
        z-index: 100;
        background-color: white;

        &__iconWrapper {
            display: flex;
            flex-direction: column;
            gap: 50px;

        }

        &__navButtons {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            &__navButton {
                background: none;
                border: none;

                &__arrow {
                    background: none;
                    border: none;
                }
    
            }

            
        }

    }


    &__message {
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

.disabled {
    fill: darkgray;
    opacity: 0.5;
    pointer-events: none; 
}


@media only screen and (max-width: 760px) {
    .window {
        top: -20px;
        flex-direction: column;
        max-width: 93%;
        height: 85vh;

        &__panel {
            position: absolute;
            rotate: 90deg;
            gap: 20px;
            top: -42.5%;


            &__iconWrapper {

                gap: 10px;
    
            }
    
            &__navButtons {
                gap: 10px;
                
                
            }


        }

        &__message {
            left: 5%;
            font-size: 2.5rem;
        }

    }
}