:root {
    /* Светлая тема */
    --text-color: #000; /* Черный текст */
    --background-color: #fff; /* Белый фон */
    --overlay-color: rgba(0, 0, 0, 0.5); /* Цвет оверлея */
    --border-color: #000; /* Черная граница */
    --accent-color: lightseagreen; /* Акцентный цвет */
    --page-background-image: url(/pics/background.jpeg); /* Новое фоновое изображение */
    --svg-color: %23000000;
}

[data-theme="dark"] {
    /* Темная тема */
    --text-color: #a3a3a3; /* Светло-серый текст */
    --background-color: #1e1e1e; /* Темно-серый фон */
    --overlay-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый оверлей */
    --border-color: #444; /* Темно-серая граница */
    --page-background-image: url(/pics/backgroundblack.jpg); /* Новое фоновое изображение */
    --accent-color: #bb86fc; /* Фиолетовый акцентный цвет */
    --svg-color: %23ffffff;
}



*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: var(--text-color); /* Используем переменную для текста */
    background-color: var(--background-color); /* Используем переменную для фона */
}

.page {
    max-width: 2000px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--background-color); /* Используем переменную для фона */
    background-image: var(--page-background-image); /* Используем переменную для фонового изображения */
    background-size: contain; /* Масштабируем изображение */
    position: relative;
    transition: background-color 0.5s ease;
    overflow: hidden;
}



img {
    vertical-align: top;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* .page {
    max-width: 2000px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #333;
    position: relative;
    background-image: url(/pics/background.jpeg);
    background-size: contain;
} */




/* //////////////////////////////////////////////////////// */

@font-face {
    font-family: 'graphb';
    src: url('/src/fonts/GraphikLCG-Bold.woff2') format('woff2'),
         url('/src/fonts/GraphikLCG-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'graphr';
   src: url('/src/fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('/src/fonts/GraphikLCG-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}